ollama
chromadb
customtkinter
pillow
pyautogui
mss
opencv-python
numpy
pynput
pygetwindow
edge-tts
pygame
pyttsx3
SpeechRecognition
pyaudio
langdetect
yt-dlp
youtube-transcript-api
PyPDF2
python-docx
python-pptx
openpyxl
pytesseract
requests
beautifulsoup4
tqdm
openai-whisper